[{"encode":"private byte[] Encrypt(byte[] data) throws Exception\n{\n    String json=\"{\\\"id\\\":\\\"1\\\",\\\"body\\\":{\\\"user\\\":\\\"lucky\\\"}}\";\n    json=json.replace(\"lucky\",java.util.Base64.getEncoder().encodeToString(data).replace(\"+\",\"<\").replace(\"/\",\">\"));\n    return json.getBytes();\n}","name":"default_json","id":30,"decode":"private byte[] Decrypt(byte[] data) throws Exception\n{\n    java.io.ByteArrayOutputStream bos=new java.io.ByteArrayOutputStream();\n    bos.write(data,26,data.length-29);\n    return java.util.Base64.getDecoder().decode(new String(bos.toByteArray()).replace(\"<\",\"+\").replace(\">\",\"/\"));\n    \n}","type":"jsp"}]